.advantages {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.advantages-left-side {
  margin-right: 30px;
}

.advantages-left-side,
.advantages-right-side {
  width: calc(100% / 2 - 15px);
}

.advantages-list {
  @extend %flex-container;
  width: 370px;
  align-items: flex-start;
  margin: 0 auto;
}

.advantages-list-item {
  flex-basis: calc(100% / 2 - 15px);
  min-height: 133px;
  background-color: #f7f7f7;
  padding: 20px;

  &:not(:nth-child(even)) {
    margin-right: 30px;
  }

  &:nth-child(even) {
    margin-top: 30px;
  }
}

.advantages-list-count {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  margin-bottom: 6px;
}

.advantages-list-description {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-align: center;
  color: #303030;
}
