.gallery {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}

.gallery-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
}

.gallery-list-item {
  flex-basis: calc(100% / 4 - 30px);
  margin-top: 30px;
  margin-left: 30px;
}
