.social-links {
  display: flex;
  align-items: center;

  &::before {
    display: inline-block;
    flex-shrink: 0;
    content: "";
    width: 60px;
    height: 1px;
    background-color: #303030;
    margin-right: 40px;
  }

  .hero-left-side & {
    transform: rotate(-90deg);
    transform-origin: left top;
  }
}

.social-links-item {
  &:not(:last-child) {
    margin-right: 40px;
  }
}

.social-links-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  transition: color 250ms linear;

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
