.social-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms linear;

  &:hover,
  &:focus {
    background-color: #000000;
  }
}

.social-list-icon {
  width: 20px;
  height: 20px;
  transition: fill 250ms linear;

  .social-list-link:hover &,
  .social-list-link:focus & {
    fill: var(--accent-color);
  }
}
