.title {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}

.title-light-theme {
  color: #303030;
}

.title-dark-theme {
  color: #ffffff;
}
