:root {
  --main-font: "Open Sans", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #ff6c00;
  --section-pt-mob: 84px;
  --section-pb-mob: 84px;
  --section-pt-tablet: 100px;
  --section-pb-tablet: 100px;
  --section-pt-desktop: 130px;
  --section-pb-desktop: 130px;
}
